:root {
  font-family: "poppins", "sans-serif";
  /* text-align: center; */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  --blue-800: hsl(234, 12%, 34%);
  --blue-200: hsl(229, 6%, 66%);
  --grey-200: hsl(0, 0%, 98%);

  --mobile: 375px;
  --desktop: 1440px;
}
body{
    background-color: var(--grey-200);
}

.title-light {
  color: var(--blue-800);
  font-weight: 200;
  text-align: center;
}
.title-bold {
  color: var(--blue-800);
  font-weight: 600;
  text-align: center;
  margin-top: -.5rem;
}
article {
  color: var(--blue-200);
  text-align: center;
  margin-bottom: 2rem;
}
.card {
  width: 18rem;
  height: 10rem;
  background-color: white;
  margin: 1rem auto; ;
  border-radius: 5px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .2);
  justify-content: space-around;
}
.card img{
    align-self: flex-end;
    margin-top: 1rem;
}
.card div:nth-child(1) {
  color: var(--blue-800);
  font-weight: 600;
  
}
.card div:nth-child(2) {
  color: var(--blue-200);
  font-weight: 200;
  margin-bottom: 1rem;
}

.one {
  border-top: 2px solid var(--cyan);
}

.two {
  border-top: 2px solid var(--red);
  
}

.three {
  border-top: 2px solid var(--orange);
}
.four {
  border-top: 2px solid var(--blue);
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

@media (max-width: 975px){
    .cards{
        flex-direction: column;

    }
    body{
      
    }
   
}